SERVICES['node']['monitoring'].update({
    'Quail-public': {
        'request': {
            'url': 'https://${PAVICS_FQDN_PUBLIC}/${TWITCHER_PROTECTED_PATH}/quail?service=WPS&version=1.0.0&request=GetCapabilities'
        },
    },
    'Quail': {
        'request': {
            'url': 'http://${PAVICS_FQDN}:8102/wps?service=WPS&version=1.0.0&request=GetCapabilities'
        }
    },
})

# vi: tabstop=8 expandtab shiftwidth=4 softtabstop=4 syntax=python
